.container {
  min-width: 300px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  text-align: center;
  margin: 0;
  color: green;
  margin-bottom: 20px;
}

.count {
  font-size: 120px;
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.btnsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: green;
  font-size: 24px;
}
