.container {
  width: 80%;
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 48px;
  }
}
