.form {
  display: flex;
  column-gap: 8rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  margin-top: 1rem;
  width: fit-content;
  background-color: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 0 4px 4px #21212190;
}

.input {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #212121;
}