.container {
  margin: 0 auto;
  width: 90vw;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 1rem;
  align-items: stretch;
}

/* item */
.item {
  padding: 10px;
  color: rgb(61, 56, 10);
  box-shadow: 0 0 4px 4px #00000060;
  border-radius: 8px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.descr {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Кількість рядків */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem; /* Висота рядка */
  max-height: 3rem; /* 2 рядки x 1.5rem */
}
