.header {
  width: 100%;
  padding: 16px 0;
  background-color: #010a47f0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;

  img {
    width: 50px;
  }

  &:hover {
    cursor: pointer;
  }
}

.list {
  display: flex;
  gap: 20px;
  margin: 0;
  list-style: none;
}

.cartBtn {
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.cartIcon {
  width: 100%;
  height: 100%;

  fill: blue;

  &:hover {
    stroke: green;
  }
}
