@import 'modern-normalize/modern-normalize.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-title-color: red;
}

.app_wrapper {
  background-color: lightblue;
}

button {
  transform: scale(1);
  transition: transform 300ms linear;
}

button:active {
  transform: scale(0.95);
}

.app__title--normal {
  font-size: 20px;
  color: red;
}
