@import 'modern-normalize/modern-normalize.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-title-color: red;
}

button {
  background: none;
  padding: 0;
  border: none;
  transform: scale(1);
  transition: transform 300ms linear;
}

button:active {
  transform: scale(0.95);
}

img {
  display: block;
  width: 100%;
}

ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}
