.wrapper {
  background-color: lightgreen;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;

  width: 200px;

  span {
    color: yellow;
  }
}

.font {
  font-size: 16px;
  color: green;
  line-height: 1.4;
  font-weight: 400;
}

.fontBold {
  composes: font;
  font-weight: 700;
}

.ownBg {
  background-color: lightpink;
}

.title {
  font-size: 16px;
  color: green;
}
